
a:hover, li:hover, img:hover {
    color: rgb(211, 30, 228);
}

@font-face {
    font-family: Header;
    src: url('fonts/Licorice.ttf');
  }

h1 {
    font-family: Header;
    text-align: center;
    font-size: 40px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

img {
    border-radius: 30%;
    opacity: 0.9;
    object-position: 15% 100%;
    text-align: center;

}

p, li {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    text-align: center;
}

h1 {
    color: gray
}

