td {
    border: 3px solid black;
}
th, table {
    border: 5px solid black;
}
table {
    border-collapse: collapse;
    color: blue
}
td, th {
    padding-left: 20px;
    padding-right: 10px;
}
table a {
    color: green;
}
#testing {
    color: purple;
}
.rowheader {
    color: rgb(73, 38, 77);
    background-color: grey;
}
th:hover {
    color: orange;
}