.date {
    color: magenta;
}

@font-face {
    font-family: title;
    src: url('fonts/Licorice.ttf');
  }

h1 {
    color: purple;
    font-size: 3vw;
    text-align: center;
    font-family: title;
}

img {
    width: 10vw;
    float: center;
}

p, li {
    font-family: courier new;
}

nav, h2 {
    font-family: papyrus;
}
